body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
  /* Page styling, ignore */
}

body section.light {
  background: #f6f6f6;
}

@supports (mix-blend-mode: lighten) {
  body section.light .gradient1 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  body section.light .gradient1::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear,left top, right top,from(#00e6ff), to(#ff006a));
    background: linear-gradient(to right,#00e6ff, #ff006a);
    pointer-events: none;
  }
  body section.light .gradient1::before {
    mix-blend-mode: screen;
  }
}

@supports (mix-blend-mode: lighten) {
  body section.light .gradient2 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  body section.light .gradient2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
  }
  body section.light .gradient2::before {
    mix-blend-mode: screen;
  }
}

body section.dark {
  background: #222;
}

body section.dark .gradient1 {
  color: #fff;
}

@supports (mix-blend-mode: lighten) {
  body section.dark .gradient1 {
    display: inline-block;
    position: relative;
    color: #f6f6f6;
    background: #000;
    mix-blend-mode: lighten;
  }
  body section.dark .gradient1::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear,left top, right top,from(#00e6ff), to(#ff006a));
    background: linear-gradient(to right,#00e6ff, #ff006a);
    pointer-events: none;
  }
  body section.dark .gradient1::before {
    mix-blend-mode: multiply;
  }
}

body section.dark .gradient1 p {
  font-size: 18px;
}

body section.dark .gradient2 {
  color: #fff;
}

@supports (mix-blend-mode: lighten) {
  body section.dark .gradient2 {
    display: inline-block;
    position: relative;
    color: #f6f6f6;
    background: #000;
    mix-blend-mode: lighten;
  }
  body section.dark .gradient2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
  }
  body section.dark .gradient2::before {
    mix-blend-mode: multiply;
  }
}

body .gradient1 {
  width: 100%;
  margin: 0.5em;
  opacity: 0.9;
}

body .gradient1 p {
  font-size: 18px;
}

body .gradient2 {
  text-align: center;
  margin: 1em auto;
  width: 10em;
}

body {
  margin: 0;
  font-family: "Scope One", serif;
  background-color: #f6f6f6;
}

body h3 {
  font-family: "Krub", sans-serif;
}

body .skills {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

body .me-image {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 100em;
  max-height: 200px;
  left: 42.5%;
  position: relative;
}

body .showcase {
  width: 80%;
}

body .blog {
  color: rgba(0, 0, 0, 0.4);
}

body .blog h3 {
  font-size: 52px !important;
  margin: 20px 20px 20px 20px;
  text-align: left;
}

body .blog p {
  padding: 20px 20px 20px 20px;
  text-align: justify;
}

body footer {
  border-top: 1px solid white;
  margin-top: 8em;
}

body footer .website {
  padding-top: 2em;
  bottom: 50%;
  text-align: center;
  display: block;
}

body .side-transform {
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

body .side-transform ul {
  -webkit-transition: 2ms;
  transition: 2ms;
  display: block;
  position: fixed;
  text-align: right;
  top: 0;
  left: 10px;
  width: 100%;
  z-index: 100;
}

body .side-transform nav > ul {
  padding: 4px 16px;
}

body .side-transform li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
}

body .side-transform a {
  color: #7b2df8;
  text-decoration: none;
  font-size: 13px;
}

body nav {
  text-align: center;
  font-family: "Krub", sans-serif;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

body nav nav > ul {
  padding: 4px 16px;
}

body nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
}

body nav a {
  color: #7b2df8;
  text-decoration: none;
  font-size: 13px;
}

body nav a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .hero {
  width: 100%;
  color: #333;
}

body .title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
  text-align: center;
}

body .description {
  font-family: "Krub", sans-serif;
  text-align: center;
}

body .row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .card-sm {
  padding: 18px 18px 24px;
  width: 220px;
  height: 220px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid white;
}

body .card-sm h3 {
  margin: 0;
  color: #7b2df8;
  font-size: 18px;
}

body .card-sm p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

body .card-sm:hover {
  border-color: #7b2df8;
  background-color: #7b2df8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .card-sm:hover h3 {
  color: white;
}

body .card-md {
  padding: 18px 18px 24px;
  width: 440px;
  height: 440px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  background-color: white;
}

body .card-md h3 {
  margin: 0;
  color: #7b2df8;
  font-size: 18px;
}

body .card-md p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

body .card-md:hover {
  border-color: #7b2df8;
  background-color: #7b2df8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid white;
}

body .card-md:hover h3 {
  color: white;
}

body .card-wd {
  padding: 18px 18px 24px;
  width: 90%;
  height: 120px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  background-color: gray;
}

body .card-wd h3 {
  margin: 0;
  color: white;
  font-size: 18px;
}

body .card-wd p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

body .card-wd:hover {
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px dashed gray;
}

body .card-wd:hover h3 {
  color: gray;
}
/*# sourceMappingURL=temple.css.map */